
:root {
    --color-text: #0b0e0f;
    --color-bg: #e9f4fc;
    --color-primary: #3696dc;
    --color-secondary: #eeeff0;
    --color-accent: #98cff6;

    --color-surface: #ffff;
    --color-muted: #7777;

    --linearPrimarySecondary: linear-gradient(#5ea9de, #eeeff0);
    --linearPrimarySecondaryOp: linear-gradient(#eeeff0, #5ea9de);
    --linearPrimaryAccent: linear-gradient(#5ea9de, #98cff6);

    --font-base: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-heading: 'Helvetica', 'Segoe UI';
    --font-accent: 'Georgia';
}

body.dark-mode {
    --color-text: #f0f3f4;
    --color-bg: #030e16;
    --color-primary: #3f9ee1;
    --color-secondary: #252728;
    --color-accent: #094067;

    --color-surface: #1111;
    --color-muted: #aaaa;

    --linearPrimarySecondary: linear-gradient(#216ca1, #094067);
    --linearPrimarySecondaryOp: linear-gradient(#094067, #216ca1);
    --linearPrimaryAccent: linear-gradient(#216ca1, #252728);

    --font-base: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-heading: 'Helvetica', 'Segoe UI';
    --font-accent: 'Georgia';
}


/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-base);
}

html, body {
    width: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 110px;
    line-height: 1.6;
}

body {
    background: var(--color-bg);
    color: var(--color-text);
    line-height: 1.6;
}

h2 {
    font-family: var(--font-heading);
    color: var(--color-primary);
    text-align: center;
    font-size: 2.1rem;
    margin-bottom: 40px;
}

p {
    font-family: var(--font-base);
    color: var(--color-text);
    line-height: 1.6;
    text-align: justify;
}

/* Navbar */ 
.navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 10px 50px;
    background: var(--color-accent);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-list li a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 700;
    font-size: 15px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav-list li a:hover {
    color: var(--color-secondary);
    border-bottom: 2px solid var(--color-primary);
}

.logo img {
    height: 60px;
    width: auto;
}

/* Hero Section */
.hero {
    min-height: 85vh;
    background: var(--linearPrimarySecondary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10%;
    gap:40px;
}

.hero-container {
    display: flex;
    align-items: center;
    gap: 40px;
    transform: translateX(50px);
}

.hero h1 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.hero-img img {
    height: 500px;
    width: auto;
    object-fit: cover;
}

.btn {
    padding: 12px 25px;
    background: var(--linearPrimaryAccent);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: opacity 0.3s ease;
}

.btn:hover {
    background: var(--color-primary);
    opacity: 0.8;
}


/* About Section */
#about {
    padding: 90px 10%;
    padding-top: 60px;
    background: var(--linearPrimarySecondaryOp);
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 85vh;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
}

.about-img img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--color-secondary);
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

.about-text {
    max-width: 450px;
    flex: 1;
}

.about-text p {
    padding-top: 25px;
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: justify;
}

.about-footer {
    margin-top: auto;
    font-size: 0.8rem;
    color: var(--color-secondary);
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
    border-top: 1px solid var(--color-accent);
    padding-top: 15px
}

/* Work Section */
#work {
    padding: 80px 50px;
    background: var(--linearPrimarySecondary);
}

.experience {
    background: var(--color-accent);
    padding: 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.experience:hover {
    transform: translateY(-5px);
}

/* Skills Section */
#skills {
    padding: 80px 50px;
    background: var(--color-secondary);
    text-align: center;
}

.skill {
    background: var(--color-accent);
    padding: 5px;
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 15px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}

.skill:hover {
    opacity: 0.9;
    transform: translateY(5px);
}


/* Contact Section */
#contact {
    padding: 80px 50px;
    text-align: center;
    background: var(--linearPrimarySecondaryOp)
}

#contact p {
    text-align: center;
    margin-bottom: 5px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.contact-item a {
    color: var(--color-text);
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-item a:hover {
    color: var(--color-accent);
}

footer {
    text-align: center;
    padding: 13px;
    background: var(--color-accent);
    color: var(--color-primary);
    font-size: 0.8rem;
}

footer p {
    text-align: center;
    margin: 0;
}

/* Dark Mode */
.toggle-switch {
    position: relative;
    justify-self: end;
    align-self: center;
    margin-left: auto;
    width: 60px;
    height: 30px;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: var(--dark);
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid var(--dark);
}

.checkbox {
    position: absolute;
    display: none;
}

.slider { 
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider {
    background-color: var(--light);
}

.slider::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 3px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(50px);
    transform: translateX(30px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Content Editable */
#editBtn {
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 13px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    z-index: 999;
}

#saveBtn {
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 13px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    z-index: 999;
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

#editBtn:hover .button_top {
    transform: translateY(-0.33em);
}

#editBtn:active .button_top {
    transform: translateY(0);
}

section[contenteditable="true"] {
    outline: 2px dashed var(--color-primary);
}

/* Responsive Media Queries */
@media (max-width: 1200px) {
    .hero-container {
        transform: translateX(30px);
        gap: 30px;
    }

    .hero-img img {
        height: 400px;
    }

    #work, #skills, #contact {
        padding: 60px 30px;
    }
}

@media (max-width: 768px) {
    .navbar {
        grid-template-columns: 1fr auto 1fr;
        padding: 10px 20px;
    }

    .nav-list {
        gap: 12px;
        font-size: 14px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero-container {
        flex-direction: column;
        align-items: center;
        transform: translateX(0);
        gap: 20px;
        text-align: center;
    }

    .hero h1 {
        font-size: 2rem;
        text-align: center;
    }

    .hero p {
        font-size: 1rem;
        text-align: center;
    }

    .hero-img img {
        height: 350px;
        width: 80%;
    }

    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .about-text {
        max-width: 90%;
    }

    .skill {
        width: 120px;
        height: 120px;
        font-size: 0.85rem;
    }

    .skills-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 1.7rem;
    }

    .hero p {
        font-size: 0.9rem;
    }

    .hero-img img {
        height: 250px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 0.9rem;
    }

    #about, #work, #skills, #contact {
        padding: 50px 15px;
    }

    .skill {
        width: 100px;
        height: 100px;
    }
}

